<section class="colophon">
    <p>
        xHain hack+makespace<br>
        Grünberger Straße 14<br>
        10243 Berlin<br><br>

        <a href="https://twitter.com/xHain_hackspace">
            <img src="images/Twitter_logo.jpg" alt="xHain hack+makespace" height="16" width="16" title="Twitter">
        </a>
        <a href="mailto:x-hain@posteo.de?subject=Newsletter%20abonnieren">
            <img src="images/Mail_Icon.png" alt="xHain hack+makespace" height="24" width="24" title="Newsletter">
        </a>
        <a href="http://xhain.23-5.eu:3000/">
            <img src="http://xhain.23-5.eu:3000/assets/slack.svg" alt="xHain hack+makespace" height="24" width="24" title="Slack">
        </a>
    </p>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
  </section>
</section>
